[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.27"
show_progress = true
no-match-test = "testGas"
no-match-contract = "GaugeFlowE2EFuzzTest"
optimizer = true
optimizer_runs = 200

ffi = true
fs_permissions = [{ access = "read-write", path = "./"}]

[fuzz]
runs = 256

[rpc_endpoints]
fraxtal = "${FRAXTAL_RPC_URL}"
lisk = "${LISK_RPC_URL}"
mode = "${MODE_RPC_URL}"
bob = "${BOB_RPC_URL}"
optimism = "${OPTIMISM_RPC_URL}"
metal = "${METAL_RPC_URL}"
superseed = "${SUPERSEED_RPC_URL}"
ink = "${INK_RPC_URL}"
soneium = "${SONEIUM_RPC_URL}"

[etherscan]
mode = { key = "${MODE_ETHERSCAN_API_KEY}", url = "${MODE_ETHERSCAN_VERIFIER_URL}" }
optimism = { key = "${OPTIMISM_ETHERSCAN_API_KEY}", url = "${OPTIMISM_ETHERSCAN_VERIFIER_URL}"}
fraxtal = { key = "${FRAXTAL_ETHERSCAN_API_KEY}", url = "${FRAXTAL_ETHERSCAN_VERIFIER_URL}"}
lisk = { key = "${LISK_ETHERSCAN_API_KEY}", url = "${LISK_ETHERSCAN_VERIFIER_URL}"}
metal = { key = "NA", url = "${METAL_ETHERSCAN_VERIFIER_URL}"}
superseed = { key = "NA", url = "${SUPERSEED_ETHERSCAN_VERIFIER_URL}"}
ink = { key = "NA", url = "${INK_ETHERSCAN_VERIFIER_URL}"}
soneium = { key = "NA", url = "${SONEIUM_ETHERSCAN_VERIFIER_URL}"}
